.product{
    display: flex;
    border-bottom: 1px solid lightblue;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.Product-name{
    color: blue;
    font-weight: 400;
}
.product-information{
    margin-left: 10px;
}
.btn{
    background-color: goldenrod;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: lightcoral;
}