.header img{
    height: 120px;   
}

.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 45px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: cornsilk;
    margin-right: 10px;
    padding: 5px;
}

nav a:hover{
    background-color: gray;
}